{% extends 'layout.html' %} {% set active_page = "dashboard" %} {% block content %}

<div class="container customDashboardHeader">
    <div id="loadingSpinner" class="lds-dual-ring"></div>
    <div class="customDashboardMonthHeader">
        <!-- Month Info -->
        <div class="row mt-4 pb-4">
            <div class="col" id="monthInfoTitle">
                <h3 class="text-light">Fecha Actual <span class="badge badge-secondary">{{ curDate.strftime('%d-%m-%Y') }} </span></h3>
            </div>
        </div>
        <!-- User Data -->
        <div class="row pb-4 justify-content-between customDashboardAmountsHeader">
            <div class="row pb-4">
                <div class="col">
                    <h2 class="text-light" id="totalAmountTitle">Ingreso</h1>
                </div>
                <div class="customDashboardAmountSeparator"></div>
                <div class="col">
                    <h2><span class="badge badge-success {% if hideAmounts %} blur-on-lose-focus {% endif %}">{{ totalAmount }} </span></h1>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col">
                    <h2 class="text-light" id="spendAmountTitle">Gastado</h1>
                </div>
                <div class="customDashboardAmountSeparator"></div>
                <div class="col">
                    <h2><span class="badge {{ spendAmountStatusColor }} {% if hideAmounts %} blur-on-lose-focus {% endif %}">{{ spendAmount }}</span></h1>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <h2 class="text-light" id="availableAmountTitle">Disponible</h2>
                </div>
                <div class="customDashboardAmountSeparator"></div>
                <div class="col">
                    <h2><span class="badge badge-info {% if hideAmounts %} blur-on-lose-focus {% endif %}">{{ availableAmount }}</span></h2>
                </div>
            </div>
        </div>

    </div>

    <div class="row pb-4 mt-4">
        <div class="col">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#userStatisticsModal" style="border-color: #62c462 !important;">Estadísticas</button>
        </div>
    </div>
    <div class="row pb-4 mt-4">
        <div class="col">
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#userSavingModal" style="border-color: #3db6de !important;">Ahorros</button>
        </div>
    </div>

    <div class="row justify-content-center pb-4">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <div class="alert {{category}}" role="alert">
            {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %} {% for field in form2.errors %} {% for error in form2.errors[field] %}
        <div class="alert alert-error">
            <strong>Error!</strong> {{error}}
        </div>
        {% endfor %} {% endfor %}
    </div>

    <!-- Filters -->
    <div class="row-full justify-content-center pb-4">
        <div class="col">
            <div class="card" id="filterCard">
                <div class="card-header">
                    <h4>Filtros</h4>
                </div>
                <div class="card-body text-center">
                    <form class="form-row" id="customFilterForm" action="/home/dashboard" method="POST">
                        <div class="col-3" id="customMonthField">
                            <label class="my-1 mr-2" for="monthIdFilter">Mes</label> {{ form.month_id(class_="form-control custom-select my-1 mr-sm-2") }}
                            <ul class="custom-error-list">
                                {% for error in form.month_id.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-3" id="customYearField">
                            <label class="my-1 mr-2" for="yearFilter">Año</label> {{ form.year_id(class_="form-control custom-select my-1 mr-sm-2") }}
                            <ul class="custom-error-list">
                                {% for error in form.type_id.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-3" id="customOpTypeField">
                            <label class="my-1 mr-2" for="opTypeIdFilter">Tipo</label> {{ form.type_id(class_="form-control custom-select my-1 mr-sm-2") }}
                            <ul class="custom-error-list">
                                {% for error in form.type_id.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-3 align-self-end" id="customFilterSubmit">
                            <input type="submit" class="btn btn-primary my-1" value="Filtrar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Operations Table Desktop -->
    <div id="desktopOperationTable" class="row-full pb-4">
        <table class="table table-striped table-bordered table-hover order-column" style="width:100%;" id="operations_table_desktop">
            <thead class="thead-light">
                <tr>
                    <th>Detalle</th>
                    <th>Monto</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <div id="loadingSpinner2" class="lds-dual-ring"></div>
                {% for op in operations %}
                <tr class="table-dark">
                    <td>{{ op.description }}</td>
                    <td>{{ currencies[op.currency_id-1].symbol}} {{"{:,.2f}".format(op.amount) }}</td>
                    <td>
                        <div class="row justify-content-center iconRow">
                            <div class="col-6 align-self-center iconLabel">
                                {{ operationTypes[op.type_id-1].description }}
                            </div>
                            <div class="col-4 iconContent">
                                <div class="icon-shape icon-color-{{ operationTypeIconsColor[op.type_id - 1]}}"><i class="{{ operationTypeIcons[op.type_id - 1] }}"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>{{ op.date.strftime('%d-%m-%Y') }}</td>
                    <td>
                        <div class="row justify-content-center">
                            <div class="col-4 mr-3 custom-info-buttons">
                                {% if op.from_saving %}
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editOperationModal{{loop.index0}}" onclick="checkSaving({{op.type_id}}, true, {{loop.index0}}, false)">Editar</button>
                                {% else %}
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editOperationModal{{loop.index0}}" onclick="checkSaving({{op.type_id}}, false, {{loop.index0}}, false)">Editar</button>
                                {% endif %}
                                <!-- Edit Modal -->
                                <div class="modal fade" id="editOperationModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="editOperationTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editOperationTitle">Editar operación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/home/dashboard/update_operation/{{ op.id }}" method="POST">
                                                    {{ form3.user_id(id="user_id_{}".format(loop.index0)) }}
                                                    {{ form3.csrf_token(id = "csrf_token_form_3_{}".format(loop.index0)) }}
                                                    <div class="form-group">
                                                        {{ form3.description(id="description_{}".format(loop.index0), class_="form-control", **{"value": op.description }) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form3.date(id="date_{}".format(loop.index0), class_="form-control", **{"value": op.date.strftime('%Y-%m-%d') }) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form3.amount(id="amount_{}".format(loop.index0), class_="form-control", **{"value": op.amount }) }}
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control custom-select my-1 mr-sm-2 operationTypeDropdown" onchange="verifyOperationTypeDropdown(this, {{loop.index0}}, 'desktop')" name="type_id" id="type_id_{{loop.index0}}">
                                                            {% for ot in operationTypesForEdit %}
                                                                <option value={{ ot.id }} {% if op.type_id == ot.id %}selected{% endif %}>{{ ot.description }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    {% if haveCurrencies|length > 0 %}
                                                        <div class="generalFromSavingSection">
                                                            <hr class="customDivider">
                                                            <div class="row justify-content-start pl-4 savingSection">
                                                                {{ form3.from_saving.label }}
                                                                <a href="#" data-toggle="popover" data-trigger="focus" data-content="Podés ingresar el dinero retirándolo del ahorro acumulado."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                                                            </div>
                                                            <div class="form-group savingSection">
                                                                {{ form3.from_saving(id="fromSavingIdEd_{}".format(loop.index0), class_="form-control savingCheck") }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group operationCurrencySection">
                                                            <select class="form-control custom-select my-1 mr-sm-2 savingDisplay" name="currency_id" id="currencyIdEd_{{loop.index0}}">
                                                                {% for cu in haveCurrencies %}
                                                                    <option value={{ cu.id }} {% if op.currency_id == cu.id %}selected{% endif %}>{{ cu.description }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    {% endif %}
                                                    <div class="modal-footer">
                                                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
                                                        <input type="submit" class="btn btn-success" value="Confirmar">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 custom-info-buttons">
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteOperationModal{{loop.index0}}">Eliminar</button>

                                <!-- Confirmation Modal -->
                                <div class="modal fade" id="confirmDeleteOperationModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="TitleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="TitleModalLabel">Confirmación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Si confirmas la eliminación se borrará de forma permanente la operación <i><strong>{{ op.description }}</strong></i>. <br> ¿Deseas eliminarla de todas formas?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <form action="/home/dashboard/delete_operation/{{ op.id }}" method="POST">
                                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="mobileOperationTable" class="row-full pb-4 text-center">
        <table id="operations_table_mobile" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <div id="loadingSpinner3" class="lds-dual-ring"></div>
                {% for op in operations %}
                <tr class="table-dark">
                    <td data-toggle="modal" data-target="#showOperationModal{{loop.index0}}">
                        <div class="row justify-content-center" style="padding: 10px;">
                            <div class="col-5 text-right iconContent">
                                <div class="icon-shape icon-color-{{ operationTypeIconsColor[op.type_id - 1]}}"><i class="{{ operationTypeIcons[op.type_id - 1] }}"></i></div>
                            </div>
                            <div class="col-6 text-right">{{ currencies[op.currency_id-1].symbol}} {{"{:,.2f}".format(op.amount) }}</div>
                        </div>
                    </td>
                    <!-- Show Operation Detail Modal -->
                    <div class="modal fade" id="showOperationModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="showOperationTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="showOperationTitle">Detalle Operación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body pl-2 pr-2">
                                    <h4>{{ op.description }}</h4>
                                    <div class="row justify-content-center mb-4">
                                        <div class="icon-shape icon-color-{{ operationTypeIconsColor[op.type_id - 1]}} text-center"><i class="{{ operationTypeIcons[op.type_id - 1] }}"></i></div>
                                    </div>
                                    <p>{{ currencies[op.currency_id-1].symbol}} {{"{:,.2f}".format(op.amount) }}</p>
                                    <p>{{ operationTypes[op.type_id-1].description }}</p>
                                    <p>{{ op.date.strftime('%d-%m-%Y') }}</p>
                                    <div class="modal-footer justify-content-center pl-1 pr-1">
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                {% if op.from_saving %}
                                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editOperationModalMobile{{loop.index0}}" onclick="checkSaving({{op.type_id}}, true, {{loop.index0}}, true)">Editar</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editOperationModalMobile{{loop.index0}}" onclick="checkSaving({{op.type_id}}, false, {{loop.index0}}, true)">Editar</button>
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteOperationModalMobile{{loop.index0}}">Eliminar</button>
                                            </div>
                                            <div class="col-4">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Edit Modal Mobile-->
                    <div class="modal fade" id="editOperationModalMobile{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="editOperationMobileTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editOperationMobileTitle">Editar operación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/home/dashboard/update_operation/{{ op.id }}" method="POST">
                                        {{ form3.user_id(id="user_id_{}_mobile".format(loop.index0)) }}
                                        {{ form3.csrf_token(id = "csrf_token_form_3_mobile_{}".format(loop.index0)) }}
                                        <div class="form-group">
                                            {{ form3.description(id="description_{}_mobile".format(loop.index0), class_="form-control", **{"value": op.description }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form3.date(id="date_{}_mobile".format(loop.index0), class_="form-control", **{"value": op.date.strftime('%Y-%m-%d') }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form3.amount(id="amount_{}_mobile".format(loop.index0), class_="form-control", **{"value": op.amount }) }}
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control custom-select my-1 mr-sm-2 operationTypeDropdown" onchange="verifyOperationTypeDropdown(this, {{loop.index0}}, 'mobile')" name="type_id" id="type_id_{{loop.index0}}_mobile">
                                                {% for ot in operationTypes %}
                                                    <option value={{ ot.id }} {% if op.type_id == ot.id %}selected{% endif %}>{{ ot.description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% if haveCurrencies|length > 0 %}
                                            <div class="generalFromSavingSection">
                                                <hr class="customDivider">
                                                <div class="row justify-content-start pl-4 savingSection">
                                                    {{ form3.from_saving.label }}
                                                    <a href="#" data-toggle="popover" data-trigger="focus" data-content="Podés ingresar el dinero retirándolo del ahorro acumulado."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                                                </div>
                                                <div class="form-group savingSection">
                                                    {{ form3.from_saving(id="fromSavingIdMobileEd_{}".format(loop.index0), class_="form-control savingCheck") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control custom-select my-1 mr-sm-2 savingDisplay" name="currency_id" id="currencyIdOpEdMobile_{{loop.index0}}">
                                                    {% for cu in haveCurrencies %}
                                                        <option value={{ cu.id }} {% if op.currency_id == cu.id %}selected{% endif %}>{{ cu.description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endif %}
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
                                            <input type="submit" class="btn btn-success" value="Confirmar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Confirmation Modal Mobile -->
                    <div class="modal fade" id="confirmDeleteOperationModalMobile{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="TitleModalMobileLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TitleModalMobileLabel">Confirmación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                </div>
                                <div class="modal-body">
                                    <p>Si confirmas la eliminación se borrará de forma permanente la operación <i><strong>{{ op.description }}</strong></i>. <br> ¿Deseas eliminarla de todas formas?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <form action="/home/dashboard/delete_operation/{{ op.id }}" method="POST">
                                        <button type="submit" class="btn btn-success">Confirmar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Create Operation Button-->
    <div class="row justify-content-center">
        <button type="button" class="btn btn-success mb-4" data-toggle="modal" data-target="#newOperationModal" onclick="checkSaving(-1, false, null, false)">Nuevo</button>
    </div>

    <!-- New Operation Modal -->
    <div class="modal fade" id="newOperationModal" tabindex="-1" role="dialog" aria-labelledby="newOperationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newOperationTitle">Nueva operación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/home/dashboard/new_operation" method="POST">
                        {{ form2.user_id() }}
                        {{ form2.csrf_token(id = "csrf_token_form_2") }}
                        <div class="form-group">
                            <input type="text" class="form-control" name="description" placeholder="Ingresar una descripción..." />
                        </div>
                        <div class="form-group">
                            {{ form2.date(class_="form-control", **{"value": curDate })}}
                        </div>
                        <div class="form-group">
                            {{ form2.amount(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form2.type_id(class_="form-control custom-select my-1 mr-sm-2 operationTypeDropdown", **{"onchange": "verifyOperationTypeDropdown(this, -1, 'desktop')"}) }}
                        </div>
                        {% if haveCurrencies|length > 0 %}
                        <div class="generalFromSavingSection">
                            <hr class="customDivider">
                            <div class="row justify-content-start pl-4 savingSection">
                                {{ form2.from_saving.label }}
                                <a href="#" data-toggle="popover" data-trigger="focus" data-content="Podés ingresar el dinero retirándolo del ahorro acumulado."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                            </div>
                            <div class="form-group savingSection">
                                {{ form2.from_saving(id="fromSavingId", class_="form-control savingCheck") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form2.currency_id(class_="form-control custom-select my-1 mr-sm-2 savingDisplay") }}
                        </div>
                        {% endif %}
                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
                            <input type="submit" class="btn btn-success" value="Crear">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- User Settings Modal -->
    <div class="modal fade" id="userSettingsModal" tabindex="-1" role="dialog" aria-labelledby="userSettingsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userSettingsTitle">Configuración</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <form action="/home/dashboard" method="POST">
                        {{ form4.user_id(id="user_id_settings") }}
                        {{ form4.csrf_token(id = "csrf_token_form_4") }}
                        <div class="row justify-content-start pl-4">
                            {{ form4.spend_limit.label }}
                            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Podés indicar un límite por compra, para no ingresar operaciones mayores a ese monto."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                        </div>
                        <div class="form-group">
                            {{ form4.spend_limit(class_="form-control") }}
                        </div>
                        <div class="row justify-content-start pl-4">
                            {{ form4.warning_percent.label }}
                            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Podés indicar un porcentaje de gasto para saber cuando te aproximás al límite permitido."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                        </div>
                        <div class="form-group">
                            {{ form4.warning_percent(class_="form-control") }}
                        </div>
                        <div class="row justify-content-start pl-4">
                            {{ form4.hide_amounts.label }}
                            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Si no querés que los totales se vean todo el tiempo podés activar esta opción."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                        </div>
                        <div class="form-group">
                            {{ form4.hide_amounts(class_="form-control") }}
                        </div>
                        {% if haveCurrencies|length > 0 %}
                            <div class="row justify-content-start pl-4">
                                 {{ form4.exchange_rates.label }}
                                 <a href="#" data-toggle="popover" data-trigger="focus" data-content="Podés indicar a que tasa de cambio (en ARS) querés que se realicen las conversiones entre monedas, por defecto es $ 1.00."><small class="ml-2"> <i class="far fa-question-circle"></i></small></a>
                            </div>

                            {% for currency in haveCurrencies %}
                                {% if currency.symbol != 'ARS' %}
                                    <input type="text" class="form-group" name="exchange_rate_{{ currency.description.lower() }}" pattern="^\d{1,3}(\d{3})*(\.\d+)?$" value="{{exchangeRates[currency.description.lower()]}}" />
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                             {{ form4.exchange_rates(id="exchange_rates_user_settings") }}
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
                            <input type="submit" class="btn btn-success" value="Actualizar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- User Statistics Modal -->
    <div class="modal fade" id="userStatisticsModal" tabindex="-1" role="dialog" aria-labelledby="userStatisticsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userStatisticsTitle">Estadística de gastos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="div" style="padding-left: 10px; padding-right: 10px;">
                        <div class="row justify-content-between mb-4 alert alert-dark">
                            <div class="col-4 text-left" style="padding: 0px;">
                                <strong>CATEGORIA</strong>
                            </div>
                            <div class="col-4 text-center" style="padding: 0px;">
                                <strong>MONTO</strong>
                            </div>
                            <div class="col-4 text-right" style="padding: 0px;">
                                <strong>PORCENTAJE</strong>
                            </div>
                        </div>
                        {% for ops in operationStatistics %}
                        <div id="iterationStatisticsTable" class="row justify-content-between mb-2 alert alert-{% if ops[2]==0 %}secondary{% endif %}{% if ops[2]> 0 and ops[2]
                                        < 30 %}success{% endif %}{% if ops[2]>= 30 and ops[2]
                                            < 60 %}warning{% endif %}{% if ops[2]>= 60 %}danger{% endif %}" style="color: black; padding: 0px">
                            <div class="col-4 text-left pl-2 pr-0">
                                {{ ops[0] }}
                            </div>
                            <div class="col-5 text-left pl-0 pr-0">
                                {{ " $ {:,.2f}".format(ops[1]) }}
                            </div>
                            <div class="col-3 text-right pl-0 pr-2">
                                {{ "{:05.2f} %".format(ops[2]) }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row justify-content-center mt-4 alert alert-info" style="color: black; padding: 0px;">
                            <div class="col-6 text-left"><strong>{{ spendAmount }}</strong></div>
                            <div class="col-4 text-right"><strong>100.00 %</strong></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Saving Modal -->
    <div class="modal fade" id="userSavingModal" tabindex="-1" role="dialog" aria-labelledby="userSavingTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 750px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userSavingTitle">Ahorros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="div" style="padding-left: 10px; padding-right: 10px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            {% for saving in savings %}
                                <div class="col-6 align-self-center savingCard">
                                    <div style="background-color: rgb(202, 202, 202); height: 100px; border-radius: 5%; padding: 5px;">
                                        {% if saving.amount == 0 %} 
                                            <span id="deleteCurrencyBtn{{loop.index0}}" class="deleteCurrencyBtn" data-toggle="modal" data-target="#confirmDeleteSavingModal{{loop.index0}}"><i class="fas fa-trash-alt"></i></span>
                                        {% endif %}
                                        <span id="adjustCurrencyBtn{{loop.index0}}" class="adjustCurrencyBtn" data-toggle="modal" data-target="#confirmAdjustSavingModal{{loop.index0}}"><i class="fas fa-pencil-alt"></i></span>
                                        <div class="currencyCardText">
                                            {{ saving.amount }} <strong>{{ currencies[saving.currency_id - 1].description }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!-- Force next columns to break to new line -->
                                <div class="w-100 savingCardMobile"></div>
                            {% endfor %}
                        </div>
                        {% if leftCurrencies|length > 0 %}
                            <hr class="customDivider">
                            <div class="row justify-content-left pb-4">
                                <div class="col-6 align-self-left">
                                    <h5>Agregar monedas</h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if leftCurrencies|length > 0 %}
                        <div class="div" style="padding-left: 10px; padding-right: 10px; margin-bottom: 30px;">
                            <form class="form-row" id="addCurrencyForm" action="/home/dashboard/add_curency" method="POST">
                                {{ form5.user_id(id="user_id_saving_form_5") }}
                                {{ form5.csrf_token(id = "csrf_token_form_5") }}
                                <div class="col-6" id="addCurrencyField">
                                    <label class="my-1 mr-2" for="currencyId">Moneda</label> {{ form5.currency_id(class_="form-control custom-select my-1 mr-sm-2") }}
                                </div>
                                <div class="col-6 align-self-end" id="addCurrencySubmit">
                                    <input type="submit" class="btn btn-success my-1" value="Agregar">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% if haveCurrencies|length > 1 %}
                        <hr class="customDivider">
                        <div class="row justify-content-left pb-4">
                            <div class="col-6 align-self-left">
                                <h5>Intercambiar monedas</h5>
                            </div>
                        </div>
                        <div style="padding-left: 10px; padding-right: 10px; margin-bottom: 30px;">
                            <form class="form" id="exchangeCurrencyForm" action="/home/dashboard/exchange_curency" method="POST">
                                {{ form6.user_id(id="user_id_saving_form_6") }}
                                {{ form6.csrf_token(id = "csrf_token_form_6") }}
                                <div class="row justify-content-left mb-3">
                                    <div class="col-6">
                                        <label class="my-1 mr-2" for="originDropdownId">Origen</label> {{ form6.origin_currency_id(id='originDropdownId', class_="form-control custom-select") }}
                                    </div>
                                    <div class="col-6">
                                        <label class="my-1 mr-2" for="destinationDropdownId">Destino</label> {{ form6.destination_currency_id(id='destinationDropdownId',class_="form-control custom-select") }}
                                    </div>
                                </div>
                                <div class="row justify-content-left mb-5">
                                    <div class="col-3">
                                        <label class="my-1 mr-2" for="originAmountId">Monto a cambiar</label> {{ form6.origin_amount(id='originAmountId', class_="form-control") }}
                                    </div>
                                    <div class="col-3">
                                        <label class="my-1 mr-2" for="exchangeValueId">Valor de cambio</label> {{ form6.exchange_value(id='exchangeValueId', class_="form-control") }}
                                    </div>
                                    <div class="col-6">
                                        <label class="my-1 mr-2" for="totalExchangedId">Total obtenido</label>
                                        <div class="form-control totalLabel">
                                            {{ form6.total_amount(id='totalAmountExchanged') }}
                                            <span id="totalExchangedId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12 align-self-center">
                                        <input type="submit" id="exchangeCurrencySubmit" class="btn btn-success my-1" value="Confirmar" disabled>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for saving in savings %}
        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmDeleteSavingModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="DeleteSavingTitleModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteSavingTitleModal">Confirmación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Si confirmas la eliminación se borrará de forma permanente la moneda <i><strong>{{ currencies[saving.currency_id - 1].description }}</strong></i>, pero puedes agregarla nuevamente cuando desees. <br> ¿Deseas eliminarla de todas formas?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form action="/home/dashboard/delete_saving/{{ saving.id }}" method="POST">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmAdjustSavingModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="AdjustSavingTitleModal" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="AdjustSavingTitleModal">Ajustar saldo</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                         </div>
                         <div class="modal-body">
                            <p>Ingresa el valor por el que quieras reemplazar el saldo actual de la moneda <i><strong>{{ currencies[saving.currency_id - 1].description }}</strong></i>, Una vez confirmada la operación, no hay forma de volver atrás.</p>
                        </div>
                        <div class="modal-footer">
                            <div class="col-12">
                                <form action="/home/dashboard/adjust_saving/{{ saving.id }}" method="POST">
                                     <div class="row justify-content-center">
                                         <div class="col-8"> 
                                                <input type="text" class="form-control"  id="newSavingValue{{loop.index0}}" name="newSavingValue" pattern="^\d{1,3}(\d{3})*(\.\d+)?$" placeholder="{{ currencies[saving.currency_id - 1].symbol }} {{ saving.amount }}" value="{{saving.amount}}"/>
                                        </div>
                                        <div class="col-8 mt-4">
                                            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success mr-2">Confirmar</button>
                                        </div>
                                     </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>

{% endblock %}
