{% extends 'layout.html' %} {% block content %}
<aside id="pageContent">
    <div class="row justify-content-center">
        <h2 id="homeTitle">Bienvenido a Wallet Sentinel</h2>
    </div>
    <div class="row justify-content-center">
        <div class="row mr-5 homeChoicesRow">
            <div class="col homeChoicesCol">
                <a href="/signup" class="text-center" style="text-decoration: none;">
                    <i class="fas fa-user-plus fa-7x mt-5 ml-4" style="width: 150px; height: 150px; color: black;"></i>
                    <h3 class="text-dark mt-4" style="text-shadow: none;">Soy nuevo</h4>
                </a>
            </div>
        </div>
        <div class="row homeChoicesRow mb-5">
            <div class="col homeChoicesCol">
                <a href="/login" style="text-decoration: none;">
                    <i class="fas fa-sign-in-alt fa-7x mt-5" style="width: 150px; height: 150px; color: black;"></i>
                    <h3 class="text-dark mt-4" style="text-shadow: none;">Tengo Cuenta</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row homeChoicesRow justify-content-center">
        <div class="col">
            <h5 class="mt-5">¿Para que sirvo?</h5>
        </div>
    </div>
    <div class="row homeChoicesRow mb-5 justify-content-center" style="border: 1px solid white;">
        <div class="col">
            <p>Soy una página que te va a ayudar a tener un registro de lo que gastas por mes diferenciado por categoría. Además te permito especificar un ingreso mensual, ver un historial de gastos y especificar límites de compras.</p>
            <p>Te recomiendo que te registres y me dés una oportunidad, es gratis!</p>
        </div>
    </div>
</aside>
{% endblock %}