/*
****************
* GENERAL STYLES
****************
*/

html,
body {
    height: 100%;
    color: #ccc !important;
}

body {
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
    height: 100%;
}


/**
***************
* NAVBAR STYLES
***************
*/

#customNavBar a {
    color: white;
    border: none;
}


/*
***************
* FOOTER STYLES
***************
*/

.my-footer {
    background-color: #272b30;
    height: 50px;
    width: 100%;
}

.my-footer * {
    color: #ccc;
}


/*
**************
* HOME BUTTONS
**************
*/

.homeChoicesCol {
    margin-top: 200px;
    width: 215px;
    height: 275px;
    background-color: #ccc;
    border-radius: 5%;
}

.homeChoicesCol img {
    margin-top: 50px;
}


/*
*********************
* ERROR LIST MESSAGES
*********************
*/

.custom-error-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(228, 72, 72);
}


/*
***************
* FILTER STYLES
***************
*/

#filterCard .card-header {
    background-color: #2d2d2d;
}

#filterCard .card-body {
    background-color: #272b30;
}


/*
*******************
* RESPONSIVE STYLES
*******************
*/

@media (max-width: 768px) {
    .homeChoicesCol {
        margin-top: 25px;
    }
    .customDashboardHeader .row {
        justify-content: center;
    }
    .customDashboardAmountsHeader {
        display: inline-block;
    }
    #operations_table {
        border: 0;
    }
    #operations_table thead {
        display: none;
    }
    #operations_table tr {
        margin-bottom: 20px;
        display: block;
    }
    #operations_table td {
        display: block;
        text-align: right;
        font-size: 13px;
    }
    #operations_table tr th,
    #operations_table tr td {
        border-right-width: 0 !important;
    }
    #operations_table td:last-child {
        border-bottom: 0;
    }
    #operations_table td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    #operations_table th {
        border-width: 1;
    }
}