/*
****************
* GENERAL STYLES
****************
*/

html,
body {
    height: 100%;
    color: #ccc !important;
    font-family: 'Varela Round', sans-serif;
}

#pageContent {
    height: 100%;
}

body {
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
    height: 100%;
}

.popover-body {
    background-color: rgb(202, 202, 202) !important;
    color: black;
    border: 0.5px solid black;
    border-radius: 5px;
}


/**
***************
* NAVBAR STYLES
***************
*/

.customNavBarLinks {
    color: white !important;
    border: none !important;
}

#navbarNavAltMarkup .active {
    border-bottom: 3px solid rgb(11, 168, 63) !important;
}

#currentUserNav,
#currentUserNav a {
    display: inline-block;
}


/*
***************
* FOOTER STYLES
***************
*/

.my-footer {
    display: none;
    background-color: #272b30;
    height: 50px;
    width: 100%;
}

.my-footer * {
    color: #ccc;
}


/*
*************
* HOME STYLES
*************
*/

#homeTitle {
    display: block;
    margin-top: 40px;
}

#mobileTitle {
    display: none;
}

.sigupCol {
    margin-right: 90px;
}

.homeChoicesCol {
    padding: 0px;
    margin-top: 200px;
    width: 215px;
    height: 275px;
    background-color: #ccc;
    border-radius: 5%;
}

.homeChoicesCol i {
    margin-top: 50px;
}


/*
*********************
* ERROR LIST MESSAGES
*********************
*/

.custom-error-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(228, 72, 72);
}


/*
***************
* FILTER STYLES
***************
*/

#filterCard .card-header {
    background-color: #2d2d2d;
}

#filterCard .card-body {
    background-color: #272b30;
}


/*
*************
* ICON STYLES
*************
*/

.icon-shape {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.icon-shape i {
    padding-top: 7px;
}

.icon-color-tshirt {
    background-color: rgb(0, 124, 182);
}

.icon-color-hamburger {
    background-color: rgb(8, 133, 50);
}

.icon-color-file-invoice-dollar {
    background-color: rgb(255, 127, 22);
}

.icon-color-gift {
    background-color: rgb(199, 59, 134);
}

.icon-color-laptop {
    background-color: rgb(119, 119, 119);
}

.icon-color-couch {
    background-color: rgb(167, 75, 0);
}

.icon-color-gas-pump {
    background-color: rgb(226, 204, 0);
}

.icon-color-money-check {
    background-color: rgb(207, 0, 0);
}

.icon-color-bath {
    background-color: rgb(79, 20, 128);
}

.icon-color-eye {
    background-color: rgb(170, 0, 85);
}

.icon-color-bus {
    background-color: rgb(41, 136, 99);
}

.icon-color-suitcase-rolling {
    background-color: coral;
}

.icon-color-gamepad {
    background-color: rgb(0, 217, 255);
}

.icon-color-list-ul {
    background-color: rgb(94, 50, 15);
}

.icon-flag {
    background-color: rgb(206, 191, 207);
}

.icon-color-untappd {
    background-color: rgb(255, 80, 168);
}

.icon-color-university {
    background-color: rgb(158 181 81);
}

.icon-color-money-bill-wave {
    background-color: rgb(77, 209, 0);
}


/*
*************************
* DASHBOARD AMOUNT TITLES
*************************
*/

.blur-on-lose-focus:not(:focus) {
    color: transparent;
    text-shadow: 0 0 5px rgba(129, 129, 129, 0.5);
    text-decoration: line-through;
}


/*
***********************
* USER STATISTICS MODAL
***********************
*/

#iterationStatisticsTable {
    font-size: unset;
}

/*
***********************
* USER SAVING MODAL
***********************
*/

.savingCard {
    margin: 10px;
    padding-left: 0px !important;
}

.savingCardMobile {
    display: none;
}

.currencyCardText {
    border-left: 4px solid rgb(11, 168, 63);
    color: black;
    font-size: 1.5rem !important;
    height: 90px;
    padding-top: 30px;
}

.deleteCurrencyBtn {
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
    width: 23px;
    height: 23px;
    background:rgb(248, 54, 54);
    color: #fff;
    border-radius: 30%;
    cursor: pointer;
}

.customDivider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 50px;
}


/*
*********
* SPINNER
*********
*/

.lds-dual-ring {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: block;
}

.lds-dual-ring:after {
    content: " ";
    position: absolute;
    left: 48%;
    top: 40%;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(39, 39, 39) transparent rgb(39, 39, 39) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
*****************
* OPERATION TABLE
*****************
*/

#desktopOperationTable {
    display: block;
}

#mobileOperationTable {
    display: none;
}

#mobileOperationTable #operations_table_mobile {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing='10px');
}

#mobileOperationTable #operations_table_mobile tr {
    cursor: pointer;
}

#mobileOperationTable #operations_table_mobile_wrapper .row .col {
    text-align: center !important;
    padding: 0px !important;
}


/*
*******************
* RESPONSIVE STYLES
*******************
*/

@media (max-width: 992px) and (min-width: 425px) {
    .customNavBarLinks,
    .navbar-expand-lg .nav-link .customNavBarLinks {
        border-bottom: 1px solid white !important;
    }
    .sigupCol {
        margin-right: 90px;
    }
    .savingCardMobile {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 425px) {
    .savingCard {
        margin-bottom: 20px;
        padding-left: 50px !important;
    }
    
}


@media (max-width: 424px) {
    .customNavBarLinks,
    .navbar-expand-lg .nav-link {
        border-bottom: 1px solid white !important;
    }
    #currentUserNav,
    #currentUserNav a {
        display: block;
    }
    #homeTitle {
        display: none;
    }
    #mobileTitle {
        display: block;
    }
    .my-footer {
        display: block;
    }
    .lds-dual-ring:after {
        left: 40%;
    }
    .homeChoicesCol {
        margin-top: 25px;
    }
    .sigupCol {
        margin-right: -15px;
    }
    .customDashboardHeader .row {
        justify-content: center;
    }
    .customDashboardAmountsHeader {
        display: inline-block;
    }
    #desktopOperationTable {
        display: none;
    }
    #mobileOperationTable {
        display: block;
    }
    #iterationStatisticsTable {
        font-size: small;
    }
    .savingCard {
        margin-bottom: 20px;
        padding-left: 15px !important;
    }
    .savingCardMobile {
        display: block;
    }
}