{% extends 'layout.html' %} {% block content %}
<aside id="pageContent">
    <div class="row justify-content-center">
        <h2 id="homeTitle">Bienvenido a Wallet Sentinel</h2>
    </div>
    <div class="row justify-content-center">
        <div class="row mr-5 homeChoicesRow">
            <div class="col homeChoicesCol">
                <a href="/signup" class="text-center">
                    <img src="../static/assets/signup.png" class="card-img-top custom-card-img" style="width: 150px; height: 150px;" alt="Signup">
                </a>
            </div>
        </div>
        <div class="row homeChoicesRow mb-5">
            <div class="col homeChoicesCol">
                <a href="/login">
                    <img src="../static/assets/login.png" class="card-img-top custom-card-img" style="width: 150px; height: 150px;" alt="Login">
                </a>
            </div>
        </div>
    </div>
</aside>
{% endblock %}