{% extends 'layout.html' %} {% block content %}

<div class="row">
    <div class="mx-auto">
        <div class="card mt-4" style="width: 18rem;">
            <img src="../static/assets/matrix_hunter.png" class="card-img-top" alt="Logo">
            <div class="card-body">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }} Ir a <a href="{{ url_for('auth.login')}}">Login Page</a>
                </div>
                {% endif %} {% endwith %}
                <form action="/signup" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Ingresar username" />
                        <ul class="custom-error-list">
                            {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Ingresar email" />
                        <ul class="custom-error-list">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingresar password" />
                        <ul class="custom-error-list">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm" placeholder="Repetir password" />
                        <ul class="custom-error-list">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Registrarse">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}